<div class="row">
  <nz-space class="col-md-12 mt-3">
    <label style="font-size: 20px" *nzSpaceItem nz-icon><i class="fa fa-folder-o"></i></label>
    <label class="fw-semibold" style="font-size: 17px" *nzSpaceItem>{{ folder.folderName }}</label>
    <button nzSize="small" *nzSpaceItem nz-button nzType="default" nzShape="circle" nz-dropdown nzTrigger="click"
            [nzDropdownMenu]="dropdownFolder">
      <span nz-icon><i class="fa fa-ellipsis-v"></i></span>
    </button>
  </nz-space>
  <h4 class="mt-3">{{ 'workspace.agents' | translate }} ({{ folder.agents.length }})</h4>
  <nz-divider class="mt-0 mb-0"></nz-divider>
  <div class="col-md-12 d-flex justify-content-between mt-2">
    <nz-space>
      <common-input [isSearch]="true" *nzSpaceItem [offMb]="true"
                    [placeholder]="'workspace.searchAgent'|translate" [(ngModel)]="searchObject.searchAgent"
                    [prefix]="suffixIconButton"></common-input>
      <common-input *nzSpaceItem [offMb]="true" [items]="SORT_LIST" [showLabel]="false"
                    [(ngModel)]="searchObject.orderBy" bindLabel="name" bindValue="value" [isTranslation]="true"
                    type="select"></common-input>
      <button *nzSpaceItem nz-button nzType="default" (click)="searchObject.isAsc=!searchObject.isAsc">
        <span *ngIf="!searchObject.isAsc" nz-icon nzType="sort-descending"></span>
        <span *ngIf="searchObject.isAsc" nz-icon nzType="sort-ascending"></span>
      </button>
    </nz-space>
    <button nz-button nzType="primary" (click)="createAgent()">
      <span nz-icon><i class="fa fa-user-plus"></i></span>
      {{ 'workspace.createAgent'|translate }}
    </button>
  </div>
  <div class="col-md-12">
    <nz-space nzWrap="true" nzSize="large">
      <ng-container *ngFor="let agent of folder.agents">
        <nz-card *nzSpaceItem class="mt-3" nzHoverable (click)="goToAgent(agent)" [nzCover]="coverTemplate">
          <nz-card-meta [nzTitle]="agent.role"
                        [nzDescription]="agent.name"></nz-card-meta>
          <label>{{ agent.description }}</label>
          <ng-template #coverTemplate>
            <div class="bg-pink d-flex justify-content-between p-2 agent-header">
              <nz-avatar [nzSize]="64" nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
              <button class="action-button" nzSize="small" nz-button nzType="default" nzShape="circle" nz-dropdown nzTrigger="click"
                      [nzDropdownMenu]="dropdownMenu" (click)="$event.stopPropagation()">
                <span nz-icon><i class="fa fa-ellipsis-v"></i></span>
              </button>
            </div>
          </ng-template>
          <nz-dropdown-menu #dropdownMenu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <button nz-button nzType="text" (click)="handlerConfiguration(agent)">
                  <span nz-icon nzType="setting"></span>{{ 'workspace.configuration'|translate }}
                </button>
              </li>
              <li nz-menu-item>
                <button nz-button nzType="text" (click)="handleRenameFolder(agent)">
                  <span nz-icon><i class="fa fa-pencil-square-o"></i></span>{{ 'workspace.rename'|translate }}
                </button>
              </li>
              <li nz-menu-item>
                <button nz-button nzDanger nzType="text" (click)="handleDeleteFolder(agent)">
                  <span nz-icon><i class="fa fa-trash"></i></span>{{ 'common.delete'|translate }}
                </button>
              </li>
            </ul>
          </nz-dropdown-menu>
        </nz-card>
      </ng-container>
      <nz-alert class="mt-3" *ngIf="!folder.agents || folder.agents.length == 0" nzType="warning"
                nzMessage="{{'workspace.emptyFolder' | translate}}" nzShowIcon></nz-alert>
    </nz-space>
  </div>
  <div class="col-md-12 mt-2">
    <img src="assets/images/pattern.png" height="40px" alt="workspace-overview" class="w-100">
  </div>
  <div class="col-md-12 mt-2">
    <h3>{{'workspace.yourRecentChat' | translate}}</h3>
    <nz-table #basicTable [nzData]="recentChats" nzBordered="true"  nzTableLayout="auto"
    nzShowSizeChanger [nzPageSizeOptions]="[1,5,10, 20, 30, 40, 50]">
      <thead>
        <tr>
          <th nzEllipsis>{{'workspace.chatHistory' | translate}}</th>
          <th nzEllipsis>{{'workspace.agent' | translate}}</th>
          <th>{{'workspace.lastUpdate' | translate}}</th>
          <th>{{'common.action' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let chat of basicTable.data">
          <td nzEllipsis>{{chat.chatHistory}}</td>
          <td nzEllipsis>{{chat.agent}}</td>
          <td>{{chat.lastUpdate | date : 'dd/MM/yyyy HH:mm'}}</td>
          <td>
            <button nz-button nzType="link" nzShape="circle">
              <span nz-icon><i class="fa fa-pencil-square-o"></i></span>
            </button>
            <button nz-button nzType="link" nzShape="circle" nzDanger>
              <span nz-icon><i class="fa fa-trash"></i></span>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>


<nz-dropdown-menu #dropdownFolder="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item>
      <button nz-button nzType="text" (click)="handleRenameFolder(folder)">
        <span nz-icon><i class="fa fa-pencil-square-o"></i></span>{{ 'workspace.rename'|translate }}
      </button>
    </li>
    <li nz-menu-item>
      <button nz-button nzDanger nzType="text" (click)="handleDeleteFolder(folder)">
        <span nz-icon><i class="fa fa-trash"></i></span>{{ 'common.delete'|translate }}
      </button>
    </li>
  </ul>
</nz-dropdown-menu>
<nz-modal [(nzVisible)]="isModalRename" [nzTitle]="'workspace.renameFolder' | translate"
          (nzOnCancel)="isModalRename = false" (nzOnOk)="acceptRename()" [nzOkText]="'workspace.rename'|translate"
          [nzCancelText]="'common.cancel'|translate">
  <ng-container *nzModalContent>
    <common-input [(ngModel)]="folder.folderName" name="folderName" label="{{'workspace.newName' | translate}}"
                  [offMb]="true"/>
  </ng-container>
</nz-modal>
<ng-template #avatarTemplate>
  <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
</ng-template>
<ng-template #suffixIconButton>
  <span nz-icon nzType="search"></span>
</ng-template>
