.bg-pink{
  background: pink;
  height: 80px;
}
.agent-header {
  position: relative;

  .action-button {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover {
    .action-button {
      opacity: 1;
    }
  }
}
