<div class="row">
  <div class="col-md-12 d-flex justify-content-between">
    <button nz-button nzType="primary">{{'workspace.enterChat' | translate}}</button>
    <button nz-button nzType="primary">{{'workspace.enterChat' | translate}}</button>
  </div>
  <div class="col-md-12">
    <nz-tabset>
      <nz-tab nzTitle="Tab 1">Content of Tab Pane 1</nz-tab>
      <nz-tab nzTitle="Tab 2">Content of Tab Pane 2</nz-tab>
      <nz-tab nzTitle="Tab 3">Content of Tab Pane 3</nz-tab>
    </nz-tabset>
  </div>
</div>
